<!DOCTYPE html>
<html>
<head>
  <title>ImposterMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
        <div id="general-style" class="nav-wrapper">
            <a href="/#" class="brand-logo">Imposter.me</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><%= link_to "Message Board", posts_path%></li>
               <li><%= link_to "Resources", '/resources/show'%></li>
            </ul>
        </div>
    </nav>
    <div id="general-style">
        <%= yield %>
    </div>
</body>
</html>
